<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Please sign in</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
  <style>
    body{
      background-color: #3e3e3e;
      color: white;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }
  </style>
</head>
<body>
  <div id="nav">
    <ul>
      <li><a class="/home" href="#home">Home</a></li>
      <li><a href="/tasks/view-tasks">Tasks</a></li>
      <li><a href="/tasks/add-tasks">Add-Tasks</a></li>
      <li><a href="/tasks/close-tasks">Close-Tasks</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
  <div id="content">
    <p>
      <h1>UPCOMING TASKS BELOW...</h1>
    </p>
  </div>
</body></html>